@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.bg-image {
    background-image: url(../src/assets/bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 70px;
    filter: drop-shadow(10px 10px 40px rgb(255, 225, 169));
    max-width: 40%;
    max-height: 40%;
}
.bg-image2{
    background-image: url(../src/assets/bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 120px;
    filter: drop-shadow(1px 1px 30px rgb(241, 157, 0));
    max-width: 100%;
    max-height: 100%;
    rotate: 16deg;

}
.bg-image-md {
    background-image: url(../src/assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(10px 10px 40px rgb(41, 41, 41));
    width: 500px;
    height: 500px;
    margin-left: 30%;
}
.overflow-hidden {
    overflow: hidden;
  }

.font-style{
    font-family: "Bebas Neue", sans-serif;
    
}
.underline-orange{
    text-decoration:underline;
    /* text-decoration: underline; */
    text-decoration-color: rgb(241, 119, 19)
}
.bg-veg{
    background-image: url(../src/assets/carrot.png);
}

.glassmorphism-bg {
    background: rgba(255, 255, 255, 0.9);
    /* backdrop-filter: blur(100px); */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    /* backdrop-filter: blur(20px); */
  }
  .glassmorphism-bg2 {
    background: rgba(255, 255, 255, 0.9);
    /* backdrop-filter: blur(100px); */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    /* backdrop-filter: blur(20px); */
  }
  
.glassmorphism-secondary{
    background: rgba(243, 244, 246, 1);
    /* backdrop-filter: blur(100px); */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.glassmorphism-bg-secondary{
  background: rgba(255, 255, 255, 0.9);
  /* backdrop-filter: blur(100px); */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background: linear-gradient(
      to top, 
      rgba(0, 0, 0, 0.8) 10%, 
      rgba(0, 0, 0, 0.5) 50%, 
      rgba(0, 0, 0, 0.1) 100%
      
    );
  }
  